@using DemoMVC.Models;
@{
    ViewBag.Title = "Article";
}

@{
    ArticleModels articleInfo = (ArticleModels)ViewData["ArticleInfo"];
}

<p>@articleInfo.title</p>
<p>@articleInfo.blurb</p>
<p>@articleInfo.link</p>
