
@using DemoMVC.Models;
@{
    ViewBag.Title = "HomePage";
}

@*<style>
    p.description{width: 11em; word-break:normal}
    div.Top{background-color:bisque}
</style>*@

@{    
    List<ArticleModels> articleList = (List<ArticleModels>)ViewData["ArticleList"];
    ArticleModels[] newList = articleList.ToArray();    
}
<p></p>
<div class="Top">
    <div class="well well-sm" style="width: 1000px">
        <div class="row" id="TopItems">
            @{
                foreach (ArticleModels article in newList)
                {
                    <div class="col-sm-2 col-md-2">
                        <div class="thumbnail">
                            <img src=@article.thumbnail alt="...">
                            <div class="caption">
                                <h3>@article.title</h3>
                                @*<p class="description">difjhgjksdhfgkhdfjghdfihgdhfjgasdf</p>*@
                                <p>@Html.ActionLink("Read", "Read", "Article", null, new { @class = "btn btn-default" }) @Html.ActionLink("Report", "Report", "Article", null, new { @class = "btn btn-default" })</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

